extends ../elements/layout/layout.jade

block title
    title VAIMO

block content
    include ../elements/header/header.jade
    include ../elements/scroller/scroller.jade
    include ../elements/favorite/favorite.jade
    include ../elements/tabs/tabs.jade
    include ../elements/abstract/abstract.jade
    include ../elements/footer/footer.jade
