$black: #000;
$white:  #fff;
$red: #f05050;
$red-dark: #bf3030;
$cyan: #3bc0c3;
$green: #20a84f;

$grey-blue: #b6c2c9;
$grey-text: #4c565f;
$grey-light: #edf1f2;
$grey-button: #b8c3ca;

$white-dark: #f9fbfb;

$border-color: #0f1922;
$tabs-text: #314350;
$dot-bg: #1c2b36;
