button.navigation__toggle(type="button")
nav.navigation
    a.navigation__link(href="#") Women
    a.navigation__link(href="#") Men
    a.navigation__link(href="#") Junior
    a.navigation__link(href="#") Accessories
    div.navigation__dropdown 
        .navigation__label Collections
        div.navigation__container
            .navigation__title Year
            div.navigation__dropdown 
                .navigation__label 2014
                div.navigation__container
                    a.navigation__link(href="#") Summer
                    a.navigation__link(href="#") Autumn
                    a.navigation__link(href="#") Winter
                    a.navigation__link(href="#") Spring
            div.navigation__dropdown 
                .navigation__label 2013
                div.navigation__container
                    a.navigation__link(href="#") Summer
                    a.navigation__link(href="#") Autumn
                    a.navigation__link(href="#") Winter
                    a.navigation__link(href="#") Spring
            div.navigation__dropdown 
                .navigation__label 2012
                div.navigation__container
                    a.navigation__link(href="#") Summer
                    a.navigation__link(href="#") Autumn
                    a.navigation__link(href="#") Winter
                    a.navigation__link(href="#") Spring
            div.navigation__dropdown 
                .navigation__label 2011
                div.navigation__container
                    a.navigation__link(href="#") Summer
                    a.navigation__link(href="#") Autumn
                    div.navigation__dropdown 
                        .navigation__label Winter
                        div.navigation__container
                            a.navigation__link(href="#") First Half
                            a.navigation__link(href="#") Second Half
                    a.navigation__link(href="#") Spring
            a.navigation__link(href="#") Link
            a.navigation__link(href="#") Other Link
    a.navigation__link.navigation__link_marked(href="#") Sale
    a.navigation__link.navigation__link_right(href="#") My account
