@import "../../helpers/*";

.stripe {
    height: 40px;
    line-height: 40px;
    background-color: $cyan;
    &__wrapper {
        max-width: 940px;
        padding: 0 20px;
        margin: auto;
        }
    }

@media (max-width: 700px) {
    html body .stripe {
        position: fixed;
        z-index: 1002;
        left: 0;
        right: 0;
        top: 0;
        &__wrapper {
            padding: 0 0 0 5px;
        }
    }
}
