.scroller
    .scroller__wrapper
        .scroller__wrapper-inner
            a.scroller__slide(href="#")
                img.scroller__photo(src="images/slide-1.jpg", alt="Slide")
            a.scroller__slide(href="#")
                img.scroller__photo(src="images/slide-2.jpg", alt="Slide")
            a.scroller__slide(href="#")
                img.scroller__photo(src="images/slide-3.jpg", alt="Slide")
            a.scroller__slide(href="#")
                img.scroller__photo(src="images/slide-4.jpg", alt="Slide")
    menu.scroller__menu(type="toolbar")
        button.scroller__prev(type="button")
        button.scroller__next(type="button")
    menu.scroller__paginator(type="toolbar")
