footer.footer
    .footer__wrapper

        section.footer__column
            h2.footer__title Top Categories
            nav.footer__navigation
                a.footer__link(href="#") Women
                a.footer__link(href="#") Men
                a.footer__link(href="#") Junior
                a.footer__link(href="#") Accessories
                
        section.footer__column
            h2.footer__title Customer Service
            nav.footer__navigation
                a.footer__link(href="#") Women
                a.footer__link(href="#") Men
                a.footer__link(href="#") Junior
                a.footer__link(href="#") Accessories
                
        section.footer__column
            h2.footer__title Newsletter Subscribe
            
            include ../subscribe/subscribe.jade
