@import "../../helpers/*";

.abstract {
    max-width: 940px;
    padding: 0 20px;
    margin: 24px auto;
    color: $grey-text;
    &__title {
        white-space: nowrap;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 14px;
        line-height: 30px;
        box-shadow: inset 0 14px 0 0 $white, inset 0 16px 0 0 $grey-text;
        span {
            padding: 0 17px;
            display: inline-block;
            background: $white;
            }
        }
    &__text {
        max-width: 620px;
        margin: 0 auto;
        text-align: justify;
        font-size: 14px;
        line-height: 20px;
        }
    }
