article.product
    a.product__link(href="#")
        figure.product__photo-wrapper
            img.product__photo(src="images/product.png", alt="Product Photo")
        .product__details
            h2.product__title Winter Sweatshirt
            p.product__price € 79.00
    menu.product(type="toolbar")
        button.product__add(type="button") Add to Cart
