article.product
    a.product__link(href="#")
        figure.product__photo-wrapper
            img.product__photo(src="images/product.png", alt="Product Photo")
        .product__details
            h2.product__title Women Trousers
            del.product__price.product__price_old € 79.00
            p.product__price.product__price_new € 59.00
    menu.product(type="toolbar")
        button.product__add(type="button") Add to Cart
